{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}
  <h1 class='text-center'>About us</h1>
<div class='container'>
    <div class='row'>
        <div class='col-sm-6'>
        <h1 class="strong">who we are and <br> what we do</h1>
        <p class='lead'>This is delhi leading portal for <br> easy and quick</p>
        </div>
        <div class='col-sm-6'>
            <p>This is delhi leading portal for  easy and quick okkk.</p>
            <p>This is delhi leading portal for  easy and quick.</p>
        </div>
    </div>

    <div class='row'>
        <div class='site-heading text-center'>
            <h3>our team</h3>
            <p> lorem ipsum dollor fuefofheawfm efe owewhfenf fj <br>eoewjnc cfepjfekmdefkjefmv</p>
            <div class='border'></div>
        </div>
    </div>
</div>    
{% endblock content %}
{% include 'footer.html' %}