<nav class='navbar navabr-expand-sm bg-dark navbar-dark fixed-bottom'>
<div class='footer-bottom'>
    <div class='container'>
          <div class='row'>
                <div class='col-sm-12 text-center'>
                  <div class='copyright-text'>
                    <p class='text-white'>Author: Hege Refsnes,--CopyRight @ 2023 Digital All Rights Reserved</p>
                    <p><a href="mailto:hege@example.com">hege@example.com</a></p>

                  </div>

                </div>
        </div>
          
    </div>
</div>
</nav>

