{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}


  <div class="container">
    <h2 class='text-center'>view Patient</h2>
      
    <table  id="example" class="table table-bordered">
      <thead>
        <tr>
                <th>PatientId</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for  i in doc %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.gender}}</td>

            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td><a href='{% url 'delete_patient' i.id %}' 
                   onclick='return confirm('are u sure you want to delete?')' class='btn btn-danger'>Delete</a>
            </td>          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
{% endblock content  %}
{% include 'footer.html' %}